@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    position: relative;
}

.right {
    width: 55%;
    height: 100vh;
    background: url(https://g.top4top.io/p_2004mhp0g1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 2.7vh;
}

.left {
    width: 45%;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #004fa4, #2d52bb, #5351cf, #7a4cdf, #a33fea, #cb2cd7, #e915c3, #ff00ad, #ff1383, #ff455a, #ff6d34, #ff9000);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2.3vh;
}

input[type="button"] {
    width: 11%;
    height: 41%;
    border-style: none;
    border-radius: 6px;
    background: #ffffff6b;
    cursor: pointer;
    color: white;
    font-size: 2vh;
}

p#p {
    padding-top: 0.5vh;
}

nav {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: flex;
    height: 12%;
    padding: 0 4%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.link {
    width: 60%;
}

.blur {
    width: 100%;
    height: 100%;
    background: #5151ce85;
    backdrop-filter: blur(11px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

label#tt {
    font-size: 7vh;
    color: white;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

h3 {
    font-size: 5vh;
    text-align: center;
    user-select: none;
}

.not {
    height: 11%;
    margin-bottom: 3vh;
    border-radius: 3vh;
    background-color: #ffffff85;
    width: 59%;
}

label#not {
    color: white;
    padding-bottom: 10vh;
    user-select: none;
    font-size: 6vh;
}

h2 {
    font-size: 1.7vh;
    padding-left: 3.35vh;
    padding-top: 2vh;
    pointer-events: none;
    user-select: none;
}

strong {
    font-size: 2.5vh;
}

p {
    padding-left: 3.35vh;
    font-size: 2vh;
    padding-top: 1.5vh;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 900px) {
    section {
        flex-direction: column;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
        padding: 0 21px;
    }
    .not {
        width: 100%;
    }
    nav {
        justify-content: center;
    }
    .link {
        display: none;
    }
    input[type="button"] {
        display: none;
    }
    h1 {
        font-size: 12.7vw;
        color: whitesmoke;
    }
}
